[Unit]
Description=TESS Controller
After=network.target

[Service]
Type=simple
User={{ pe_user }}
WorkingDirectory={{ pe_working_directory }}
ExecStart={{ pe_execstart_controller }}

[Install]
WantedBy=multi-user.target